<form class="well form-inline">
    <div class="controls">
        <select class="form-control" (change)="onDistrIn()" name="district" [(ngModel)]="addr.district" #addrDistrict="ngModel">
            <option disabled>Выберите район</option>
            <option>Голосеевский</option>
            <option>Дарницкий</option>
            <option>Деснянский</option>
            <option>Днепровский</option>
            <option>Оболонский</option>
            <option>Печерский</option>
            <option>Подольский</option>
            <option>Святошинский</option>
            <option>Соломенский</option>
            <option>Шевченковский</option>
        </select>
    </div>
    <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="group"></ng-autocomplete>
    <input [style.display]="addr_visible" type="text" placeholder="Улица" name="street" [ngModel]="addr.street" (ngModelChange)="streetChange($event)" (blur)="streetAutofillBlur()" (keydown)="streetAutofillEnter($event)" #addrStreet="ngModel"  />
    <input #number [style.display]="number_visible" type="text" placeholder="№ дома" name="number_str" [ngModel]="addr.number_str" (ngModelChange)="numberChange($event)"  />
    <!--<button type="submit" class="btn" [style.display]="addr_visible">Применить</button>-->
    <br [style.display]="addr_visible" />
    <p  [style.display]="addr_visible" class="infotitle">Результаты поиска:</p>
    <br [style.display]="addr_visible" />
    <p  [style.display]="addr_visible" class="infotitle">Улица:&nbsp;&nbsp;&nbsp;</p>
    <p  [style.display]="addr_visible" [style.color]="addr.street_color"> {{addr.street_found}} </p>
    <br [style.display]="addr_visible" />
    <p  [style.display]="addr_visible" class="infotitle">Массив:&nbsp;&nbsp;&nbsp;</p>
    <p  [style.display]="addr_visible" [style.color]="addr.massive_color" > {{addr.massive_str}} </p>
</form>


