<div class="container" style="padding-top: 25px">
	<h2>Оценка стоимости нежилого помещения on-line</h2>
	<comp-addr (onAddrChanged)="onAddrChanged($event)"></comp-addr>
	<!--<comp-addr (on_distr_changed)="onDistrChanged($event)" (on_massive_changed)="onMassiveChanged($event)"></comp-addr>-->
</div>
<div *ngIf="uiDictionaries" [style.display]="paramsVisible" class="container">
	<comp-params [uiDictionaries]="uiDictionaries" (on_params_changed)="onParamsChanged($event)"></comp-params>
</div>
<div class="container" [style.display]="resultVisible">
	<comp-save-result [addr]="addr" [params]="params" [result]="result" [calcserv]="calcserv" [evaluationResultChanged]="notifyChildWhenResultChanged.asObservable()"></comp-save-result>
</div>
<div [style.display]="resultVisible" class="container">
	<comp-result [result]="result"></comp-result>
</div>