<div class="claster-heading">Отслеживаемые объекты</div>
<div *ngIf="!(isListEmpty$ | async)">
	<table class="table table-condensed table-hover">
		<thead>
			<tr class="table-heading">
				<th scope="col">#</th>
				<th scope="col" class="text-center">Помещения</th>
				<th scope="col" class="text-center">Del</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of objRows$ | async" (click)="onSelected(row)" [class.table-active]="(selectedPremises$ | async) === row.index">
				<th scope="row">{{row.index + 1}}</th>
				<td class="obj-item">{{row.description}}</td>
				<td (click)="onDelete(row)" class="del-item" style="text-align: center">×</td>
			</tr>
		</tbody>
	</table>
</div>
<div *ngIf="isListEmpty$ | async">
	<p style="font-size: 1.1em">У вас нет сохранённых объектов.</p>
</div>
