<div *ngIf="paramsView$ | async">
	<div class="claster-heading">Параметры выбранного помещения</div>
	<div class="row">
		<div class="col-md-6 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="paramtitle">Район:</div>
				<div class="paramvalue">{{(paramsView$ | async)?.district}}, {{(paramsView$ | async)?.massif}}</div>
			</div>
		</div>
		<div class="col-md-6 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="paramtitle">Адрес:</div>
				<div class="paramvalue">{{(paramsView$ | async)?.street}} {{(paramsView$ | async)?.numberOnStreet}}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="paramtitle">Площадь:</div>
				<div class="paramvalue">{{(paramsView$ | async)?.square}}</div>
			</div>
		</div>
		<div class="col-md-6 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="paramtitle">Фонд:</div>
				<div class="paramvalue">{{(paramsView$ | async)?.fund}}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="paramtitle">Здание:</div>
				<div class="paramvalue">{{(paramsView$ | async)?.buildtype_otb}}</div>
			</div>
		</div>
		<div class="col-md-6 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="paramtitle">Этаж:</div>
				<div class="paramvalue">{{(paramsView$ | async)?.placement}}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="paramtitle">Построено:</div>
				<div class="paramvalue"><p>{{(paramsView$ | async)?.buildtype_mb}}</p></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="panelheading">Вход в помещение:</div>
				<div class="panelbody">
					<ul>
						<li>{{(paramsView$ | async)?.entry_type}}</li>
						<li>{{(paramsView$ | async)?.entry_placement}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div *ngIf="(paramsView$ | async)?.add_trade_features.length > 0" class="col-xs-12 col-sm-6 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="panelheading">Дополнительные факторы торговой ценности:</div>
				<div class="panelbody">
					<ul>
						<li *ngFor="let f of (paramsView$ | async)?.add_trade_features">{{f}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="panelheading">Внутренняя отделка:</div>
				<div class="panelbody">
					<ul>
						<li>{{(paramsView$ | async)?.remclass}}</li>
						<li *ngIf="(paramsView$ | async)?.needDeval">{{(paramsView$ | async)?.devaluation}}<span *ngIf="(paramsView$ | async)?.needAvail"> ({{(paramsView$ | async)?.avail}})</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div *ngIf="(paramsView$ | async)?.needAddElem" class="col-xs-12 col-sm-6 parammargin">
			<div style="border: 1px solid #808080; border-radius: 4px;">
				<div class="panelheading">Дополнительные элементы отделки:</div>
				<div class="panelbody">
					<ul>
						<li *ngFor="let f of (paramsView$ | async)?.addelements">{{f}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


