<div *ngIf="dataReady" class="container" style="padding-top: 5.5em">
	<comp-hello [cn]="cn"></comp-hello>
</div>
<div *ngIf="dataReady" [style.display]="objectsVisible" class="container">
	<comp-objects [docExtractor]="docExtractor" (onObjectSelected)="onObjSelected($event)"></comp-objects>
</div>
<div *ngIf="dataReady" [style.display]="paramsAndHistoryistoryVisible" class="container">
	<comp-params [docExtractor]="docExtractor" [onObjectSelected]="notifyChildWhenObjSelected.asObservable()"></comp-params>
</div>
<div *ngIf="dataReady && selectedObj>=0" [style.display]="paramsAndHistoryistoryVisible" class="container">
	<comp-history [docExtractor]="docExtractor" [initIndex]="selectedObj" [onObjectSelected]="notifyChildWhenObjSelected.asObservable()"></comp-history>
</div>
