<div class="container" style="padding-top: 25px">
	<div *ngIf ="!listEmpty">
		<h2>Ваши сохранённые объекты</h2>
		<table class="table table-condensed table-hover">
			<thead>
				<tr class="table-heading">
					<th scope="col">#</th>
					<th scope="col" class="text-center">Помещения</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let row of objRows" (click)="onSelected(row)" [class.table-active]="selectedPremises === row.index">
					<th scope="row">{{row.index + 1}}</th>
					<td>{{row.description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf ="listEmpty">
		<h2>У вас нет сохранённых объектов.</h2>
	</div>
</div>


