<h2 [style.display]="(customerName$ | async) ? 'inline' : 'none'">Hello, {{customerName$ | async}}</h2><br />
<p style="font-size: 1.1em">Отслеживайте изменение и динамику стоимости ваших сохранённых объектов недвижимости на этой странице.</p>
<p [style.display]="(customerName$ | async) ? 'none' : 'inline'" style="color: red">Ваши сохранённые объекты будут доступны только в течение текущей сессии. Пожалуйста, выполните <a href="login.html">аутентификацию</a> для того, чтобы иметь возможность сохранять свои объекты перманентно и отслеживать их стоимость в будущем.</p>

